.container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

.movie_card {
    border: #ccc solid 1px;
    border-radius: 5px;
    padding: 15px;
    width: 200px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.2s;
    box-shadow: #acabab 2px 2px 5px;
}

.movie_card:hover {
    transform: scale(1.05);
    box-shadow: #acabab 5px 5px 5px;
}

.movie_title {
    font-size: 16px;
    margin: 10px 0;
}

.movie_poster {
    border-radius: 8px;
    width: 100%;
    max-height: 278px;
    object-fit: cover;
    margin-bottom: 10px;
}

.no_image {
    border-radius: 8px;
    height: 278px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
    color: #555;
}

.movie_rating {
    margin: 10px 0;
    font-size: 14px;
}

.details_link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #9ac7fb;
    border: #ccc solid 1px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    transition: background-color 0.3s ease;
    color: black;
}

.details_link:hover {
    background-color: #0056b3;
}
