/* SearchBar.module.css */
.search_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 20px;
    width: fit-content;
    border: #afafaf solid 1px;
    border-radius: 5px;
    box-shadow: #acabab 2px 2px 5px;
    transition: box-shadow 200ms ease;
}

.search_bar:hover {
    box-shadow: #acabab 5px 5px 5px;
}

.select {
    margin-left: 15px;
}

.select select {
    width: fit-content;
    padding: 5px;
    border: none;
    background-color: rgba(175, 175, 175, 0.2);
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 500ms ease;
}

.select select:focus {
    outline: none;
}

.select select:hover {
    background-color: #acabab;
}

.input {
}

.input input {
    width: fit-content;
    padding: 8px;
    border: none;
    background-color: rgba(175, 175, 175, 0.2);
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: background-color 500ms ease;
}

.input input:hover {
    background-color: #acabab;
}

